server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitness-user-db
    username: admin_user
    password: admin@123
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/